

.container {
    width: 670px;
    height: 830px;
    margin: 75px auto;
    border-radius: 15px;
    background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
}

.topBar {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 60px;
}

.topBar .city {
    display: flex;
    width: 362px;
    height: 75px;
    background-color: #ebfffc;
    border: none;
    outline: none;
    border-radius: 35px;
    padding-left: 40px;
    color: #626262;
    font-size: 18px;
    font-weight: 400;
}

.searchIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}

.weatherImages {
    margin-top: 29px;
    display: flex;
    justify-content: center;
}

.temperature {
    display: flex;
    justify-content: center;
    color: #ffff;
    font-size: 120px;
}

.location {
    display: flex;
    justify-content: center;
    color: #ffff;
    font-size: 58px;
}


.data {
    margin-top: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.weatherData{
    font-size: 28px;
}

.text{
    font-size: 20px;
}

.icon{
    margin-top: 10px;
}

@media(max-width : 767.98px) {
    .container{
        width: 75%;
        height: 500px;
    }
    .topBar {
        padding: 25px 10px 0;
    }
    .topBar .city {
        width: 100%;
        height: 50px;
        padding-left: 25px;
        font-size: 14px;
    }
    .searchIconContainer {
        width: 22%;
        height: 50px;
    }
    .weatherImages {
        height: 100px;
    }
    .temperature {
        font-size: 80px;
    }
    .location {
        font-size: 44px;
    }
    .weatherData {
        font-size: 24px;
    }
    .icon {
        width: 35px;
    }
    .text {
        font-size: 18px;
    }
}

@media(max-width : 575.98px){
    .container{
        width: 100%;
    }
}